.grid {
  display: grid !important;
}
.z-index-image {
  z-index: 9999999999999999999999 !important;
}

.boxanimate {
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.bounce-2 {
  animation-name: bounce-2;
  animation-timing-function: ease;
}
@keyframes bounce-2 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
